{%extends 'res.html'%} {%block title%}
<title>AV7BANK TAKE MONEY</title>
<link rel="stylesheet" href="{{url_for('static',filename='take.css')}}"> {%endblock title%} {%block body%} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul class=flashes>
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %} {% endwith %}
<h1 class='text-center'>AV7BANK</h1>
<h2 class='text-center'>ADD MONEY</h2>
<div class="container">
    <form action="/add_money" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        <div class="form-col">
            <div class="col">
                <input type="text" class="form-control" placeholder="Number" name="value">
            </div>
        </div>
        <br><br>
        <button class="btn btn-primary">Add</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> {%endblock body%}